<div class="card">
  <img class="card-img-top" src="{{photoURL}}" alt="{{movieTitle}}">
  <div class="card-body">
    <span class="card-title">{{movieTitle}}</span>
    <span class="card-genre">{{genre}}</span>
  </div>
</div>
