<div class="card">
  <div class="card-contents">
    <div class="card-image-container">
      <img src="{{moviePosterURL}}" alt="{{title}}">
    </div>
    <div class="card-info-container">
      <span class="card-title">{{title}}</span>
      <span class="card-genre">({{genre}})</span>
    </div>
  </div>
</div>
