<div class="card">
  <div class="card-contents">
    <div class="card-image-container">
      <img src="{{Poster}}" alt="{{Title}}">
    </div>
    <div class="card-info-container">
      <span class="card-title">{{Title}}</span>
      <span class="card-genre">{{Genre}}</span>
    </div>
  </div>
</div>
