<div class="card">
  <img class="card-img-top" src="{{Poster}}" alt="{{Title}}">
  <div class="card-body">
    <span class="card-title">{{Title}}</span>
    <span class="card-genre">{{Genre}}</span>
  </div>
</div>
