<!DOCTYPE html>
<html>
  <head>
  	<title>{{Title}}</title>

  	<link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/Cyborg.bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.runtime.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src='/movieCard.js'></script>
  	<script type='text/javascript' src='/config.js'></script>
  	<script type='text/javascript' src='/index.js' defer></script>

  </head>

  <header>
    <div class="header-image-container">
      <img src="HeaderFlixLogo.png" alt="Header Cartoon Movie Camera">
    </div>
  </header>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="logo-image-container">
      <img src="/FlixLogo.png" alt="Cartoon Movie Camera">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Decade</a>
            <div class="dropdown-menu" style="">
              <button class="dropdown-item" id="dropdown-item" type="button">2010 - 2019</button>
              <button class="dropdown-item" id="dropdown-item" type="button">2000 - 2009</button>
              <button class="dropdown-item" id="dropdown-item" type="button">1990 - 1999</button>
              <button class="dropdown-item" id="dropdown-item" type="button">1980 - 1989</button>
              <button class="dropdown-item" id="dropdown-item" type="button">1970 - 1979</button>
              <button class="dropdown-item" id="dropdown-item" type="button">1960 - 1969</button>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Genre</a>
            <div class="dropdown-menu" style="">
              <button class="dropdown-item" id="dropdown-item" type="button">Action</button>
              <button class="dropdown-item" id="dropdown-item" type="button">Adventure</button>
              <button class="dropdown-item" id="dropdown-item" type="button">Comedy</button>
              <button class="dropdown-item" id="dropdown-item" type="button">Crime</button>
              <button class="dropdown-item" id="dropdown-item" type="button">Drama</button>
              <button class="dropdown-item" id="dropdown-item" type="button">Family</button>
              <button class="dropdown-item" id="dropdown-item" type="button">History</button>
              <button class="dropdown-item" id="dropdown-item" type="button">Horror</button>
              <button class="dropdown-item" id="dropdown-item" type="button">Mystery</button>
              <button class="dropdown-item" id="dropdown-item" type="button">Romance</button>
              <button class="dropdown-item" id="dropdown-item" type="button">Sport</button>
              <button class="dropdown-item" id="dropdown-item" type="button">Thriller</button>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Rated</a>
            <div class="dropdown-menu" style="">
              <button class="dropdown-item" id="dropdown-item" type="button">G</button>
              <button class="dropdown-item" id="dropdown-item" type="button">PG</button>
              <button class="dropdown-item" id="dropdown-item" type="button">PG- 13</button>
              <button class="dropdown-item" id="dropdown-item" type="button">R</button>
              <button class="dropdown-item" id="dropdown-item" type="button">NC -17</button>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Metascore</a>
            <div class="dropdown-menu" style="">
              <button class="dropdown-item" id="dropdown-item" type="button">90 - 100</button>
              <button class="dropdown-item" id="dropdown-item" type="button">80 - 89</button>
              <button class="dropdown-item" id="dropdown-item" type="button">70 - 79</button>
              <button class="dropdown-item" id="dropdown-item" type="button">60 - 69</button>
              <button class="dropdown-item" id="dropdown-item" type="button">50 - 59</button>
              <button class="dropdown-item" id="dropdown-item" type="button">40 - 49</button>
              <button class="dropdown-item" id="dropdown-item" type="button">30 - 39</button>
              <button class="dropdown-item" id="dropdown-item" type="button">20 - 29</button>
              <button class="dropdown-item" id="dropdown-item" type="button">10 - 19</button>
              <button class="dropdown-item" id="dropdown-item" type="button"> 0 - 9 </button>
            </div>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">IMDB Rating</a>
              <div class="dropdown-menu" style="">
                <button class="dropdown-item" id="dropdown-item" type="button">9.0 - 10.0</button>
                <button class="dropdown-item" id="dropdown-item" type="button">8.0 - 8.9</button>
                <button class="dropdown-item" id="dropdown-item" type="button">7.0 - 7.9</button>
                <button class="dropdown-item" id="dropdown-item" type="button">6.0 - 6.9</button>
                <button class="dropdown-item" id="dropdown-item" type="button">5.0 - 5.9</button>
                <button class="dropdown-item" id="dropdown-item" type="button">4.0 - 4.9</button>
                <button class="dropdown-item" id="dropdown-item" type="button">3.0 - 3.9</button>
                <button class="dropdown-item" id="dropdown-item" type="button">2.0 - 2.9</button>
                <button class="dropdown-item" id="dropdown-item" type="button">1.0 - 1.9</button>
                <button class="dropdown-item" id="dropdown-item" type="button"> 0.0 - 9.9 </button>
              </div>
            </li>
        </ul>

        <div class="form-inline my-2 my-lg-0">
          <input id="search-box"class="form-control mr-sm-2" type="text" placeholder="Search">
          <button id="search-button"class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </div>
      </div>
    </nav>

  {{{body}}}

  </body>
</html>
