<!DOCTYPE html>
<html>
  <head>
  	<title>{{Title}}</title>

  	<link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/Cyborg.bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.runtime.js"></script>
    <script src='/movieCard.js'></script>
  	<script type='text/javascript' src='/config.js' defer></script>
  	<script type='text/javascript' src='/index.js' defer></script>

  </head>

  <header>
    <div class="header-image-container">
      <img src="HeaderFlixLogo.png" alt="Header Cartoon Movie Camera">
    </div>
  </header>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="logo-image-container">
      <img src="/FlixLogo.png" alt="Cartoon Movie Camera">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Popular</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Year</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Genre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Rated</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Metascore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">IMDB Rating</a>
          </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
          <input id="search-box"class="form-control mr-sm-2" type="text" placeholder="Search">
          <button id="search-button"class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </div>
      </div>
    </nav>

  {{{body}}}

  </body>
</html>
