<main class="content">

  <section id="posts">

    {{#each photoCard}}
        {{> newPost}}
    {{/each}}

  </section>

  <!-- <aside class="filter-container">

    <h2>Filters</h2>

    <div class="filter-input-container">
      <label for="filter-text" class="filter-input-label">Text</label>
      <div class="filter-input-element">
        <input type="text" name="filter-text" id="filter-text" class="filter-input">
      </div>
    </div>

    <div class="filter-input-container">
      <label for="filter-min-price" class="filter-input-label">Price</label>
      <div class="filter-input-element">
        <input type="text" name="filter-min-price" id="filter-min-price" class="filter-input" placeholder="min">
      </div>
      <div class="filter-input-element">
        <input type="text" name="filter-max-price" id="filter-max-price" class="filter-input" placeholder="max">
      </div>
    </div>

    <div class="filter-input-container">
      <label for="filter-city">City</label>
      <div class="filter-input-element">
        <select id="filter-city" class="filter-input" name="filter-city">
          <option selected value="">Any</option>
          <option>Corvallis</option>
          <option>Albany</option>
          <option>Eugene</option>
          <option>Portland</option>
          <option>Salem</option>
          <option>Bend</option>
        </select>
      </div>
    </div>

    <div class="filter-input-container">
      <fieldset id="filter-condition" class="filter-fieldset">
        <legend>Condition</legend>
        <div>
          <input type="checkbox" name="filter-condition" id="filter-condition-new" value="new">
          <label for="filter-condition-new">New</label>
        </div>
        <div>
          <input type="checkbox" name="filter-condition" id="filter-condition-excellent" value="excellent">
          <label for="filter-condition-excellent">Excellent</label>
        </div>
        <div>
          <input type="checkbox" name="filter-condition" id="filter-condition-good" value="good">
          <label for="filter-condition-good">Good</label>
        </div>
        <div>
          <input type="checkbox" name="filter-condition" id="filter-condition-fair" value="fair">
          <label for="filter-condition-fair">Fair</label>
        </div>
        <div>
          <input type="checkbox" name="filter-condition" id="filter-condition-poor" value="poor">
          <label for="filter-condition-poor">Poor</label>
        </div>
      </fieldset>
    </div>

    <button id="filter-update-button" class="action-button">Update</button>

  </aside> -->

</main>

<div id="modal-backdrop" class="hidden"></div>
<div id="filter-movie-modal" class="hidden">
  <div class="modal-dialog">
    <div class="modal-header">
      <h3>Find a Movie</h3>

      <button type="button" id="modal-close-top" class="modal-hide-button">&times;</button>
    </div>

    <div class="modal-body">

      <div class="movie-input-element">
        <label for="movie-title-input">Movie Title</label>
        <input type="text" id="movie-title-input"></input>
      </div>

      <div class="movie-input-element">
        <label for="movie-genre-input">Movie Genre</label>
        <input type="text" id="movie-genre-input">
      </div>

      <div class="movie-input-element">
        <label for="movie-year-input">Movie Year</label>
        <input type="text" id="movie-year-input">
      </div>

      <div class="movie-input-element">
        <label for="movie-rated-input">Movie Rated</label>
        <input type="text" id="movie-rated-input">
      </div>

      <div class="movie-input-element">
        <label for="movie-actor-input">Movie Actor</label>
        <input type="text" id="movie-actor-input">
      </div>

      <div class="movie-input-element">
        <label for="movie-metascore-input">Movie Metascore</label>
        <input type="text" id="movie-metascore-input">
      </div>

      <div class="movie-input-element">
        <label for="movie-imdbrating-input">Movie IMDB Rating</label>
        <input type="text" id="movie-imdbrating-input">
      </div>

    </div>

    <div class="modal-footer">
      <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
      <button type="button" id="modal-accept" class="action-button">Search</button>
    </div>
  </div>
</div>
