<main class="content">

  <section id="posts">

    {{#each apiData}}
        {{> movieCard}}
    {{/each}}

  </section>

</main>

<button type="button" id="advanced-search-button"><i class="fas fa-plus"></i></button>

<div id="modal-backdrop" class="hidden"></div>
<div id="advanced-search-modal" class="hidden">
  <div class="modal-dialog">
    <div class="modal-header">
      <h3>Find a Movie</h3>

      <button type="button" id="modal-close-top" class="modal-hide-button">&times;</button>
    </div>

    <div class="modal-body">

      <div class="filter-input-container">
        <label for="filter-movie-title " class="filter-input-label">Movie Title</label>
        <div class="filter-input-element">
          <input type="text" name="filter-movie-title" id="filter-movie-title" class="filter-input">
        </div>
      </div>

      <div class="filter-input-container">
        <label for="filter-movie-genre " class="filter-input-label">Movie Genre</label>
        <div class="filter-input-element">
          <input type="text" name="filter-movie-genre" id="filter-movie-genre" class="filter-input">
        </div>
      </div>

      <div class="filter-input-container">
        <label for="filter-movie-year " class="filter-input-label">Movie Year</label>
        <div class="filter-input-element">
          <input type="text" name="filter-movie-year" id="filter-movie-year" class="filter-input">
        </div>
      </div>

      <div class="filter-input-container">
        <label for="filter-movie-rated " class="filter-input-label">Movie Rated</label>
        <div class="filter-input-element">
          <input type="text" name="filter-movie-rated" id="filter-movie-rated" class="filter-input">
        </div>
      </div>

      <div class="filter-input-container">
        <label for="filter-movie-actor " class="filter-input-label">Movie Actor</label>
        <div class="filter-input-element">
          <input type="text" name="filter-movie-actor" id="filter-movie-actor" class="filter-input">
        </div>
      </div>

      <div class="filter-input-container">
        <label for="filter-min-metascore" class="filter-input-label">Movie Metascore</label>
        <div class="filter-input-element">
          <input type="text" name="filter-min-metascore" id="filter-min-metascore" class="filter-input" placeholder="ex: 1">
        </div>
        <div class="filter-input-element">
          <input type="text" name="filter-max-metascore" id="filter-max-metascore" class="filter-input" placeholder="ex: 100">
        </div>
      </div>

      <div class="filter-input-container">
        <label for="filter-min-imdbrating" class="filter-input-label">Movie IMDB Rating</label>
        <div class="filter-input-element">
          <input type="text" name="filter-min-imdbrating" id="filter-min-imdbrating" class="filter-input" placeholder="ex: 1">
        </div>
        <div class="filter-input-element">
          <input type="text" name="filter-max-imdbrating" id="filter-max-imdbrating" class="filter-input" placeholder="ex: 10">
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
      <button type="button" id="modal-accept" class="action-button">Search</button>
    </div>
  </div>
</div>
