header
{
  background-color: #000;
}

.header-image-container img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  width: 485px;
  height: 140px;
}

.logo-image-container img
{
  display: block;
  width: 60px;
  height: 40px;
}

#posts
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card
{
  height: 215px;
  width: 160px;
  margin-top: 2%;
  margin-bottom: 4%;
  margin-left: 2%;
  margin-right: 2%;
}

.card-contents
{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.card-image-container img
{
  height: 215px;
  width: 160px;
}

.card-info-container
{
  width: 100%;
  margin-top: 20px;
}

.card-title
{
  display: block;
  font-size: 100%;
  color: #ffffff;
}

.card-genre
{
  display: block;
  font-size: 100%;
  color: #ffffff;
}

#advanced-search-button
{
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 45px;
  width: 75px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  background-color: #299FD6;
  color: #fff;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#advanced-search-button:hover
{
  background-color: #227FAC;
  color: #FFF;
}

#modal-backdrop
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#advanced-search-modal
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header
{
  position: relative;
  background-color: #299FD6;
  padding: 10px 20px;
}

.modal-header h3
{
  margin: 0;
  font-size: 28px;
  color: #FFF;
}

#modal-close
{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body
{
  padding: 20px;
}

.modal-footer
{
  display: flex;
  justify-content: space-around;
  background-color: #299FD6;
  padding: 10px 10px 20px 10px;
}

#modal-cancel, #modal-accept
{

}

#modal-cancel, #modal-accept
{
  height: 45px;
  width: 185px;
  border-color: #fff;
  border-style: solid;
  border-radius: 4px;
  font-size: 20px;
  background-color: #299FD6;
  color: #fff;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#modal-cancel:hover {
  background-color: #227FAC;
  color: #FFF;
}

.post-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.post-input-element > label
{
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.post-input-element input
{
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.post-fieldset
{
  flex: 1 100%;
  border: 1px solid #ababab;
}
