header
{
  background-color: #000;
}

.header-image-container img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  width: 485px;
  height: 140px;
}

.logo-image-container img
{
  display: block;
  width: 60px;
  height: 40px;
}

#posts
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card
{
  height: 215px;
  width: 160px;
  margin-top: 2%;
  margin-bottom: 4%;
  margin-left: 2%;
  margin-right: 2%;
}

.card-contents
{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.card-image-container img
{
  height: 215px;
  width: 160px;
}

.card-info-container
{
  width: 100%;
  margin-top: 20px;
}

.card-title
{
  display: block;
  font-size: 100%;
  color: #ffffff;
}

.card-genre
{
  display: block;
  font-size: 100%;
  color: #ffffff;
}

#modal-backdrop
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#modal-accept
{
  position: sticky;
  cursor: pointer;
  /*z-index: 1060;*/
}

#advanced-search-button
{
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 45px;
  width: 75px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  background-color: #299FD6;
  color: #fff;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  /*z-index: 1060;*/
}

#advanced-search-button:hover {
  background-color: #227FAC;
  color: white;
}

.hidden
{
  z-index: 1000;
  display: none;
}


#modal-cancel
{
  position: sticky;
  cursor: pointer;
  display: block;
  /*z-index: 1060;*/
}

#advanced-search-modal
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.modal-header
{
  position: relative;
  padding: 10px 20px;
  display: none;
}

.modal-header h3
{
  margin: 0;
  font-size: 28px;
}
